Q1. Create one variable containing following type of data:

ANS(i): 'a'
   (ii): [2,3,'b',True]
   (iii): 63.4678
   (iv): (1,2,3)

(i) string
(ii) list
(iii) float
(iv) tuple

Q2. Given are some following variables containing data:

(i) var1 = ‘ ‘
(ii) var2 = ‘[ DS , ML , Python]’
(iii) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]
(iv) var4 = 1.

ANS(i) : string
ANS(ii) : string
ANS(iii) : list
ANS(iv) : integer

Q3. Explain the use of the following operators using an example:

(i) /
(ii) %
(iii) //
(iv) **

ANS(i) : it is a airthmatic operator which is used to get a quotient
ANS(i) : it is a modulas operator which is used to get a remainder
ANS(iii) : it is used for division flour
ANS(iv) : it is used for power of a number 
ex: 2**4 = 16

Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the
element and its data type.

In [1]:
l = [2,3,4,5,"ram","sita",45.34,True,False,6+3j]

In [2]:
for i in l :
    print(type(i))

<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'str'>
<class 'str'>
<class 'float'>
<class 'bool'>
<class 'bool'>
<class 'complex'>

Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many
times it can be divisible.

In [12]:
a = 4
b = 2
counter = 0
while a % b == 0:
    counter += 1
    a = a // b
print("a is divisible by b", counter, "times")

a is divisible by b 2 times

Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is
divisible by 3 or not.

In [2]:
i = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25]
for element in i:
    if element % 3 == 0:
        print(element, "is divisible by 3")
    else:
        print(element, "is not divisible by 3")

1 is not divisible by 3
2 is not divisible by 3
3 is divisible by 3
4 is not divisible by 3
5 is not divisible by 3
6 is divisible by 3
7 is not divisible by 3
8 is not divisible by 3
9 is divisible by 3
10 is not divisible by 3
11 is not divisible by 3
12 is divisible by 3
13 is not divisible by 3
14 is not divisible by 3
15 is divisible by 3
16 is not divisible by 3
17 is not divisible by 3
18 is divisible by 3
19 is not divisible by 3
20 is not divisible by 3
21 is divisible by 3
22 is not divisible by 3
23 is not divisible by 3
24 is divisible by 3
25 is not divisible by 3

Q7. What do you understand about mutable and immutable data types? Give examples for both showing
this property.

ANS- a mutable data type is one that allows you to modify the value of a variable in place, without creating new object.
    a immutable data type is one that does not allow you to change the value of a variable in place, but only create a new object with a different value.

Mutable Example =

In [1]:
i = [1, 2, 3, 4, 5, 'pwskills']

In [3]:
i [2] = 7

In [4]:
i

[1, 2, 7, 4, 5, 'pwskills']

In [6]:
i [5] = 'sita'

In [7]:
i

[1, 2, 7, 4, 5, 'sita']

As we can see, lists are mutable.

Immutable Example =

In [8]:
l = "pwskills"

In [9]:
l [2]

's'

In [11]:
l [4] = a

NameError: name 'a' is not defined

In a string we can not change in a particular index. 
so string is immutable.